<div class="row">
  <div class="col-md-6">
  	<div class="panel-heading">
        <center>
		<h2> Order Details </h2></center>
	</div>
	<div class="panel-body">
              <%= image_tag @orders.service.image.url(:thumb) %>
              <%= @orders.service.title %>
          <br> <br>
		by <%= "#{@orders.user.fullname}" %>
		<hr>
		<%= "Price of unit: Rs.#{@orders.price}" %>
		<hr>
		<%= "Quantity: #{@orders.quantity}" %>
		<hr>
		<%= "Total: Rs.#{@orders.total_price} " %>
	</div>
   

   

	<%= link_to '<button type="button">Make Payment</button>'.html_safe, new_charges_path(@orders) %>
</div>
</div>

</div>
