<div class="row">
  <div class="col-md-6">
  	<div class="panel-heading">
        <center>
		<h2> Order Details </h2></center>
	</div>
	<div class="panel-body">
              <%= image_tag @orders.service.image.url(:thumb) %>
              <%= @orders.service.title %>
          <br> <br>
		by <%= "#{@orders.user.fullname}" %>
		<hr>
		<%= "Price of unit: Rs.#{@orders.price}" %>
		<hr>
		<%= "Quantity: #{@orders.quantity}" %>
		<hr>
		<%= "Total: Rs.#{@orders.total_price} " %>
	</div>
   </div>

   <div class="col-md-6">
   	<div class="panel-heading">
        <center>
		<h2> Payment Details </h2></center>
	</div>
	<div class="panel-body">
	<div class="row">
 		 <div class="col-md-8">
		<div class ="form-group" >
			<%= label_tag :card_number, "Credit Card Number" %>
			<%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number" , class: "form-control"} %>
		</div></div>
  			<div class="col-md-4">
		<div class ="form-group" >
			<%= label_tag :card_code, "CVC" %>
			<%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc" , class: "form-control"} %>
		</div></div></div>
		<%= label_tag nil,"Expiry Date" %>
		<div class ="form-group" >
		
			<%= select_month nil,{ user_two_digit_numbers: true},{ :name => nil, :'data-stripe' => "exp-month" } %>
			
			<%= select_year nil,{ start_year: Date.today.year, end_year: Date.today.year+15 },{ :name => nil, :'data-stripe' => "exp-year" } %>
		</div>
		<div class = "form-group" >
			<%= submit_tag "Make Payment", class: "btn" %>
		</div>
</div>
